.Polaris-Layout {
    margin-top: 0!important;
}
.fsb_tp_container {
    cursor: pointer;
    width: 100%;
}
.fsb_tb_content {
    overflow:hidden; width: 100%; border: none;
}
.fsb_msg_price {
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
}
.fsb_font_btn {
    margin-right: 10px;
}
.Polaris-Button {
    margin-right: 10px;
    margin-bottom: 10px;
}